@import '../../../../assets/scss/variables';

.welcome-section {
  background-image:url('https://pipe-fitting-webshop-pres.onrender.com/images/Welcome.jpg');
  background-size: cover;
  background-position: center;
  min-height: $page-component-min-height;
}
