<section class="container-fluid text-center text-white py-5 welcome-section">

  <div class="container-md">
    <div class="row p-5 bg-light rounded-2 bg-opacity-10">
      <h1 class="my-4">Welcome to Jonas Ambrosius's mighty webshop!</h1>
      <p class="lead">
        You are the luckiest person on earth,
        because you have found yourself in the world's most serious pipe fitting service,
        operated by one of the biggest authorities in Hungary!
      </p>
      <p>
        After registering or logging in,
        you can freely order everything that fully satisfies the work of a serious professional!
      </p>
    </div>
  </div>

</section>
