<section *ngIf="itemsInStorage else emptyStorage" class="d-flex justify-content-center align-items-center flex-column py-4">
  <ng-container *ngFor="let item of itemsInStorage; index as i">
    <app-order-item class="container-fluid" [itemData]="item" (productAmount)="getPrice($event, i)"></app-order-item>
  </ng-container>
  <div class="container-fluid">
    <div class="container-sm my-2">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-10 col-xxl-8 text-end p-0">
          <div class="row justify-content-end m-0">
            <div class="col-6 col-md-4 col-lg-3 mb-3 py-2 text-center shadow rounded bg-white fw-bolder">Total price: {{totalPrice}} HUF</div>
          </div>
          <button (click)="sendOrder()" type="button" class="btn btn-primary">Send Order</button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #emptyStorage>
  <div class="d-flex empty-cart justify-content-center align-items-center flex-column py-4">
    <p class="fs-1 text-center">
      You have nothing in cart yet!
    </p>
  </div>
</ng-template>

