@import '../../../../assets/scss/_variables';

section, .empty-cart {
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('https://pipe-fitting-webshop-pres.onrender.com/images/cart.jpg');
  background-size: cover;
  background-position: center;
  min-height: $page-component-min-height;
}
