<nav class="navbar navbar-expand-sm bg-body-tertiary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-warning"  routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Welcome</a>
    <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="loggedUser===true" class="nav-item">
          <a class="nav-link text-warning" routerLink="/login" routerLinkActive="active-link">Login</a>
        </li>
        <li *ngIf="loggedUser===true" class="nav-item">
          <a class="nav-link text-warning"  routerLink="/registration" routerLinkActive="active-link">Registration</a>
        </li>
        <li *ngIf="loggedUser===true" class="nav-item">
          <a class="nav-link text-warning"  routerLink="/update_account" routerLinkActive="active-link">Update Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning"  routerLink="/products" routerLinkActive="active-link">Products</a>
        </li>
        <li *ngIf="loggedUser===true" class="nav-item">
          <a class="nav-link text-warning"  routerLink="/orders" routerLinkActive="active-link">Orders</a>
        </li>
        <li *ngIf="loggedUser===true" class="nav-item">
          <a class="nav-link text-warning"  routerLink="/cart" routerLinkActive="active-link"><i class="bi bi-cart4">
          </i><span class="ps-1">0</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
