@import '../../../../assets/scss/variables';

footer {
  min-height: 27vh;

  .border-warning {
    --bs-border-opacity: 0.3;
  }

  .bi-youtube, .bi-facebook, .bi-twitter, .bi-instagram, a {
    &:hover {
      color: $secondary-color !important;
    }
  }
}
