<footer class="container-fluid bg-dark pb-4 pb-md-0" id="contact">
  <div class="container-md border-bottom border-warning pb-3">
    <div class=" row px-0 px-md-1 pt-3">
      <div class="text-warning col-12 col-md-6">
        <h4 class="text-decoration-underline mb-3">Contact</h4>
        <p class="mb-1">János Ambrus - qualified plastic welder</p>
        <p class="mb-1"><i class="bi bi-geo-alt-fill pe-2"></i>1031 Budapest, Csónakház str. 9.</p>
        <p class="mb-1"><i class="bi bi-envelope-fill pe-2"></i>ambja1983@jonambros.com</p>
        <p class="mb-0"><i class="bi bi-telephone-fill pe-2"></i>+36 20 260 3542</p>
      </div>
      <div class="text-warning col-12 col-md-6 pt-3 pt-md-0">
        <h4 class="text-decoration-underline mb-3">Trading</h4>
        <p class="mb-1">Janina Helene - Jonas's right hand</p>
        <p class="mb-1"><i class="bi bi-geo-alt-fill pe-2"></i>1165 Budapest, Víznyelő str. 47.</p>
        <p class="mb-1"><i class="bi bi-envelope-fill pe-2"></i>janina.helene@jonambros.com</p>
        <p class="mb-0"><i class="bi bi-telephone-fill pe-2"></i>+36 1 242 1757</p>
      </div>
    </div>
  </div>
  <div class="container text-center pt-2 pb-1">
    <span>
      <a href="https://www.youtube.com" target="_blank" class="me-2"><i class="bi bi-youtube fs-5 text-warning"></i></a>
      <a href="https://www.instagram.com" target="_blank" class="me-2"><i class="bi bi-instagram fs-5 text-warning"></i></a>
      <a href="https://www.twitter.com" target="_blank" class="me-2"><i class="bi bi-twitter fs-5 text-warning"></i></a>
      <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook fs-5 text-warning"></i></a>
    </span>
  </div>
  <p class="text-warning text-center fst-italic mb-0">Copyright &copy; Jonas Ambrosius Co. 2023</p>
</footer>
