<nav>
  <ul class="pagination pagination-sm shadow">
    <li><button class="page-link" (click)="emitSkipAmount(0)">1</button></li>
    <li><button class="page-link" (click)="emitSkipAmount(6)">2</button></li>
    <li><button class="page-link" (click)="emitSkipAmount(12)">3</button></li>
    <li><button class="page-link" (click)="emitSkipAmount(18)">4</button></li>
    <li><button class="page-link" (click)="emitSkipAmount(24)">5</button></li>
    <li><button class="page-link" (click)="emitSkipAmount(30)">6</button></li>
    <li><button class="page-link" (click)="emitSkipAmount(36)">7</button></li>
    <li><button class="page-link" (click)="emitSkipAmount(42)">8</button></li>
  </ul>
</nav>
