<div *ngIf="product" class="card shadow p-2">
  <div class="row g-0">
    <div class="col-5 d-flex align-items-center p-2">
      <img [src]="product.imageUrl" class="img-fluid rounded" alt="electro-coup">
    </div>
    <div class="col-7">
      <div class="card-body text-center p-0">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.manufacturer}}</p>
        <p class="card-text">{{product.weldTech}}</p>
        <p class="card-text fw-semibold">{{product.price | hufCurrency}}</p>
        <button *ngIf="loggedInUser$ | async" type="button" class="btn btn-sm btn-primary mb-1" (click)="passIndex()" [disabled]="storageContains">{{storageContains ? 'Already in cart' : 'Add to cart'}}</button>
      </div>
    </div>
  </div>
</div>
