@import '../../../../assets/scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  min-height: $page-component-min-height;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('http://localhost:3000/images/products.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 7vh;
}

