@import '../../../../assets/scss/_variables';

section {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://pipe-fitting-webshop-pres.onrender.com/images/orders.jpg');
  background-size: cover;
  background-position: center;
  min-height: $page-component-min-height;

  caption {
    color: white;
    text-shadow:  $primary-shadow, 0 0 10px black;
  }
}
